<div class="col-md-6 col-4">
    <div class="card" style="overflow-y: auto; max-height: 80vh; margin-top:20px; border-radius: 10px;">
      <div class="card-body">
        <h4 class="card-title">Feature Timeline</h4>
        <!-- <p class="card-description">Feature Timeline</p> -->
        <div class="mt-5">
          <div class="vertical-timeline">

            <div class="timeline-wrapper timeline-wrapper-success">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">UI Redesign</h6>
                </div>
                <div class="timeline-body">
                  <p>Updated UI to offer a more consistent & user-friendly experience</p>
                </div>
                <div class="timeline-footer d-flex align-items-center">
                  <i class="mdi mdi-emoticon-cool-outline text-muted mr-1"></i>
                  <span>19</span>
                  <span class="ml-auto font-weight-bold">5th Dec 2020</span>
                </div>
              </div>
            </div>

            <div class="timeline-wrapper timeline-inverted timeline-wrapper-info">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">Collection Optimizations</h6>
                </div>
                <div class="timeline-body">
                  <p>Complete collections for each host, in a fraction of space and time.
                    We have optimized how data is collected and stored.</p>
                </div>
                <div class="timeline-footer d-flex align-items-center">
                  <i class="mdi mdi-emoticon-cool-outline text-muted mr-1"></i>
                  <span>25</span>
                  <span class="ml-auto font-weight-bold">24th Nov 2020</span>
                </div>
              </div>
            </div>

            <div class="timeline-wrapper timeline-wrapper-success">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">Platform and Server management</h6>
                </div>
                <div class="timeline-body">
                  <p>You can now manage Platform collections and interactively review collected data.
                     Server scanning and server assignment to platforms implemented.</p>
                </div>
                <div class="timeline-footer d-flex align-items-center">
                  <i class="mdi mdi-emoticon-cool-outline text-muted mr-1"></i>
                  <span>19</span>
                  <span class="ml-auto font-weight-bold">14th Nov 2020</span>
                </div>
              </div>
            </div>

            <div class="timeline-wrapper timeline-inverted timeline-wrapper-primary">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">Access reconciliation</h6>
                </div>
                <div class="timeline-body">
                  <p>Automatic reconciliation of access for new servers!</p>
                </div>
                <div class="timeline-footer d-flex align-items-center">
                  <i class="mdi mdi-emoticon-cool-outline text-muted mr-1"></i>
                  <span>19</span>
                  <span class="ml-auto font-weight-bold">28th Oct 2020</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
