{% extends "ui_base_full.html" %}
{% load i18n staticfiles %}

{% block title %}Portunus Login{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex align-content-end flex-wrap" style="padding-top:50px">
    <div class="card card-login mx-auto text-center">
      <div class="card-header">
        <h4>Logged out</h4>
      </div>
      <div class="card-body">

      <div class="alert alert-info" role="alert">
        You have been logged out.
      </div>

      Thank you for trying the demo.

      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}
